body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evitar barras de desplazamiento innecesarias */
}

#data-container {
    width: 200%; /* Hacer que sea más ancho para permitir desplazamiento */
    height: 200%; /* Hacer que sea más alto para permitir desplazamiento */
    overflow: scroll; /* Permitir barras de desplazamiento */
    position: relative;
}

svg {
    width: 2000px; /* Ajusta según el tamaño esperado de la topología */
    height: 2000px;
    background-color: #f9f9f9; /* Opcional: color de fondo para distinguir el espacio */
}
